@charset "UTF-8" ;

@font-face {
    font-family:'Quenda';
    src: url('fonte/Quenda-Medium.otf') format('opentype');
    
}
body{
    background-color: #b1afaf;
}

header{
    background-color: #F8EFE8;
    font-family: 'Quenda';
    text-align: center;
    margin: -7px -10px 20px -10px;
    padding: 0px 0px 18px 0px;
    
    
}

header > h1{
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 10px 0px;
}

header > img{
    width: 500px;
    height: 500px;
    margin: -90px 0px -26px 0px;
}

nav{
    background-color: #F8EFE8;
    text-align: left;
    font-family: 'Quenda';
    margin: -7px 1px 0px 10px;
    border: 10px 10px 10px 10px;
    position:sticky;
}
nav > a{
    font-family: 'Quenda';
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0px 74px 0px 32px;
    margin: 0px 0px 0px 0px;
    text-shadow: 0px 0px 0px black;
    
}

nav > a:hover{
    color: #f8efe8;
    background-color: rgb(177, 172, 172);
    
}
#superior{
    
    height: 300px;
}

img{
    margin: 0px 5px 5px 5px;
}

img > a:hover{
    background-color: rgba(20, 20, 20, 0.527);
}

#superior > h1{ 
    font-weight: bold;
    font-size: 3em ;
    text-align: center;
    font-family: 'Quenda';
    padding: 0px 0px 13px 0px;
    margin: 0px  0px 0px  0px;
}

#camisa > h1{ 
    font-weight: bold;
    font-size: 3em ;
    text-align: center;
    font-family: 'Quenda';
    color: black;
    padding: 50px 0px 0px 0px;
}
#Descrição01 > p{
text-align: left;
background-color: gray;
color: rgb(255, 255, 255);
font-family: 'Quenda';
margin: 25px -12px 22px -13px;
padding: 3px 12px 0px 23px;
border-radius: 1px 9px 1px 8px;
}

#shorts > h1{
    font-family: 'Quenda';
   text-align: center; 
   margin: 20px 0px 20px 0px;
   font-weight: bold;
   font-size: 3em ;
   
}

#meião > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#camisa-feminino > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#Retrô > h1{
    font-family: 'Quenda';    
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#chaveiro > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#kit-adulto > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#kit-infantil > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#polo > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#formula01 > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#NBA > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#NFL > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#body > h1{
    font-family: 'Quenda';
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 3em ;
}

#kit-goleiro > h1{
    font-family: 'Quenda';
    text-align: center;  
    margin: 20px 0px 20px 0px; 
    font-weight: bold;
    font-size: 3em ;
}

#manga-longa > h1{
    font-family: 'Quenda';
    text-align: center;  
    margin: 20px 0px 20px 0px; 
    font-weight: bold;
    font-size: 3em ;
}

#videos > h1{
    
    font-family: 'Quenda';
    text-align: center;  
    margin: 20px 0px 20px 0px; 
    font-weight: bold;
    font-size: 3em ;
}
iframe{
    margin: 0px 0px 0px 0px ;
    padding: 0px 30px 0px 0px ;
    
}

#catalogo-videos-1{
    margin: 18px 0px 18px 0px;
    padding: 6px 30px 0px 0px ;
    
}

#catalogo-videos-2{
    margin: 18px 0px 18px 0px;
    padding: 6px 30px 0px 0px ;
}

#catalogo-videos-3{
    margin: 18px 0px 18px 0px;
    padding: 6px 30px 0px 0px ;

}

#catalogo-videos-4{
    margin: 18px 0px 18px 0px;
    padding: 6px 30px 0px 0px ;
}

footer{
    background-color: #F8EFE8;
    width: 100%;
    height: 150px;
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}

footer > img{
    width: 150px;
    height: 150px;
    margin: 0px 1px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}
footer > a{
    display: inline;
    width: 80px;
    height: 80px;
    margin: 0px 1px 0px 0px;
    padding: 0px 0px 0px 0px;
}


